
/* メインコンテナ */
main {
   text-align: center;
   width: 100%;
   max-width: 1200px; /* 最大幅を設定 */
   
   
}

/* サポートキャラのスタイル */
#Money_Support {
    width: 100%;
    max-width: 1000px; /* 最大幅を設定 */
    text-align: center; /* 中央揃え */
    margin-top: 30px; /* ヘッダーとの間にスペースを追加 */
}

.money_overlay{
    margin-top: 20px;
  
  
  font-family: "Mochiy Pop One", sans-serif;
}

.close{
    position: absolute; /* 親要素に対して絶対配置 */
    
    right: 10px; /* 右からの距離 */
    background: none;
    border: none;
    font-size: 24px; /* ボタンのフォントサイズ */
    cursor: pointer; /* ポインタを手に変更 */
    color: #333; /* ボタンの文字色 */
    transition: color 0.3s; /* ホバー時の色変更にアニメーションを追加 */
}
