.gold{

    width:160px;
    margin: auto;
    text-align:center;
    margin-top:30px;
    margin-bottom:30px;
    background-color:white;
    border-radius:10px;
}

#ShopChildoverlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
}
#ShopChildcontent{
    color:#000;
    z-index:2;
    width:50%;
    padding: 1em;
    background:#fff;
    text-align:center;
}

#ShopChildTab{
    color: #000000;
    background-color: #dadada;
    text-align: center;
    font-size: 10px;;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    
}

#ShopChildTabList{
   background-color: #fff;
}

#request_button{
    background-color: aqua;
    margin-top:10px;
}


.ShopChildBody {
    text-align:center;
    font-family:"Mochiy Pop One", sans-serif;
    overflow-y: auto; 
    max-height: 70vh; 
}


#ShopChildTabList {
    background-color: #fff;
}

.react-tabs__tab--selected {
    background-color: lightgreen;
    color: #fff;
}

.ShopChildsubmit-button, .ShopChildclose-button{
    margin-top:10px;
}

.ShopChildgold {
    margin-bottom:1rem;
}

.ShopChild-sale, #buy-button{
    margin-top:5px;
}

.ShopChildtext-area {
    width:8rem;
}

.ShopChildbuy-button-blue, .ShopChildsubmit-button-blue{
    background-color: aqua;
}