/*--------------------------------------
テキスト設定                                    めも。フォントを変える
--------------------------------------*/
.Diaries_text{
    text-align: center;
}
/*--------------------------------------
日記入力欄
--------------------------------------*/
.Diaries_input{
    line-height: 5;
}
/*--------------------------------------
既読ボタン
--------------------------------------*/
.Diaries_read_button{
    background-color: #FAD9D5;
    border-color: #AE4132;
}
/*--------------------------------------
閉じるボタン
--------------------------------------*/
.Diaries_close_button{
    background-image: url(/public/images/close_button.png);
}
/*--------------------------------------
提出ボタン
--------------------------------------*/
.Diaries_submit_button{
    background-color: #2d8fdd;
}
/*--------------------------------------
レンガ背景日記用修正済み
--------------------------------------*/
.background_image_renga_diaries{
    background-image:url(/public/images/maptile.png);
    background-repeat: repeat;
    background-size:20%;
    width:100%;
    height:90vh;
}
/*--------------------------------------
背景
--------------------------------------*/
.Diaries_background{
    background-color: #FFE6CC;
    position:fixed;
    height: 70%;
    width: 96%;
    top: 15%;
    left: 1.8%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/*--------------------------------------
モーダルウィンドウ関係
--------------------------------------*/
#Diaries_body{
    background: #E6E6E6;
    position:fixed;
    height: 66%;
    width: 90%;
    top: 17%;
    left: 4.5%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#Diaries_overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
#Diaries_content{
    color:#000;
    z-index:2;
    width:50%;
    padding: 1em;
    background: #E6E6E6;
    text-align: left;
    padding-left: 5em;
    opacity: 1;
}

/*--------------------------------------
日記モーダル内
--------------------------------------*/
.Submit_diarie_body{
    padding: 0;
    
}
.Diarie_row {
    padding: 0;
    right: 10%;
    position: relative;
    width: 100%;
    display: flex;
}
.Diarie_row td{
    color: #2d8fdd;
    background: #f1f8ff;
    line-height: 1;
    font-size: 10px;
    padding: 0.5em;
    
}

/*--------------------------------------
日記のタブ設定
--------------------------------------*/
.Tab_diarie_list{
    position:absolute;
    left:50%;
    transform:translateX(-55%);
    list-style:none;
    display:flex;
    justify-content:space-around;
    width:100%;
}

.Tab_diarie_title{
    font-family:"Mochiy Pop One", sans-serif;
    white-space: nowrap;
}

.Tab_diarie_content{
    position:absolute;
    top:7%;
    left:50%;
    transform:translateX(-50%);
    height: calc(100% - 100px);
}

.Diarie_box{
    position: absolute;
    top: 12%;
    left: 2.5%;
    width: 330px;
    height: 380px;
    border: 1px solid #000;
    overflow-y: scroll;
}

/* DiariesList の　CSS */
.bookListBody{
    padding: 0;
}
.bookrow {
    padding: 0;
    position: relative;
}
.bookrow td{
    color: #2d8fdd;
    background: #f1f8ff;
    line-height: 1.5;
    padding: 0.5em;
}


