.Diaries_text{
    text-align: center;
}

#Diaries_body{
    background: #E6E6E6;
    position:fixed;
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    

}
#Diaries_overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
#Diaries_content{
    color:#000;
    z-index:2;
    width:50%;
    padding: 1em;
    background: #E6E6E6;
    text-align: left;
    padding-left: 5em;
    opacity: 1;
}

.bookListBody{
    padding: 0;
}
.bookrow {
    padding: 0;
    position: relative;
}
.bookrow td{
    color: #2d8fdd;
    background: #f1f8ff;
    line-height: 1.5;
    padding: 0.5em;
}