main {
  position: relative;
}


.background {
  position: absolute;
  top: 2vh;
  left: 50%;
  transform: translateX(-50%);
  height: 60vh;
  width: 70%;
  background-color: #F5F5F5;
  border: 10px solid #FFE6CC;
}

.TabList {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 2% 0 0 0;
  gap: 0;
}

.TabList .react-tabs__tab {
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  background: none;
  font-size: 16px;
  text-align: center;
  text-decoration: underline;
  color: #000;
  white-space: nowrap;
}

.TabList .react-tabs__tab--selected {
  color: #FFB366;
  font-weight: bold;
}

.TabList .react-tabs__tab:not(.react-tabs__tab--selected):hover {
  color: #FFB366;
}

.Tab_title {
  font-family: "Mochiy Pop One", sans-serif;
  white-space: nowrap;
}

.Tab_content {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translateX(-50%);
  height: calc(100% - 100px);
}

.box {
  position: absolute;
  top: 13%;
  left: 3.5%;
  width: 250px;
  height: 290px;
  border: 1px solid #000;
  overflow-y: scroll;
}

.task_button {
  font-family: "Mochiy Pop One", sans-serif;
  width: 95%;
  height: 50px;
  margin-top: 5%;
  margin-left: 2.5%;
  border-radius: 5px;
}

.task {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
}

.task_name {
  font-size: 1.2em;
}

.task_deadline {
  font-size: 1em;
  color: #666;
}

.button_container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: -28px;
  bottom: -10%;
  width: 120%;
  padding: -10px 15px;
}

.diary_button,
.task_add_button {
  font-family: "Mochiy Pop One", sans-serif;
  padding: 10px 20px;
  font-size: 1.2em;
  width: 140px;
  height: 80px;
  text-align: center;
  border-radius: 8px;
}

.diary_button {
  margin-right: 10px;
  background-color: gold;
}

.task_add_button {
  margin-left: 20px;
  background-color: cornflowerblue;
}

.modal {
  font-family: "Mochiy Pop One", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal_content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.close_button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modal_content h2 {
  font-family: "Mochiy Pop One", sans-serif;
  color: cornflowerblue;
  margin-bottom: 20px;
}

.modal_content label {
  display: block;
  margin-bottom: 10px;
}

.modal_content input, .modal_content select, .modal_content textarea {
  font-family: "Mochiy Pop One", sans-serif;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.modal_content button {
  font-family: "Mochiy Pop One", sans-serif;
  background: cornflowerblue;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.add_button{
  width:50%;
}