.loginFamily_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* コンテンツを中央揃え */
}

.Diaries_background{
  background-color: #FFE6CC;
  position:fixed;
  height: 70%;
  width: 96%;
  top: 15%;
  left: 1.8%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.textbox {
  margin-bottom: 10px;
  padding: 12px; /* テキストボックスとボタンの内側の余白 */
  width: 250px; /* テキストボックスとボタンの幅 */
  font-size: 16px; /* テキストサイズ */
  text-align: center;
  font-family:"Mochiy Pop One", sans-serif;
}

.loginMain_button {
  margin-bottom: 10px;
  padding: 12px; /* テキストボックスとボタンの内側の余白 */
  width: 275px; /* テキストボックスとボタンの幅 */
  font-size: 16px; /* テキストサイズ */
  font-family:"Mochiy Pop One", sans-serif;
}

.loginMain_button {
  cursor: pointer; /* ボタンにポインターを表示 */
}

