.login_body {
  text-align: center;
}

.loginF_button {
  color: #000;
  background-color: #fff100;
  border: none;
  border-bottom: 5px solid #ccc100;
  margin-top: 100px;
  width: 200px; /* 幅を200pxに設定 */
  height: 50px; /* 高さを50pxに設定 */
  font-size: 18px; /* フォントサイズを18pxに設定 */
  padding: 10px 20px; /* 上下に10px、左右に20pxの余白を設定 */
}
.loginK_button {
  color: #000; /* テキストの色を黒に設定 */
  background-color: #006aff; /* 背景色を青色に設定 */
  border: none; /* ボーダーを無効化 */
  border-bottom: 5px solid #0049af; /* 下部のボーダーを灰色に設定 */
  margin-top: 100px; /* 上部のマージンを設定 */

  /* 追加のスタイル */
  width: 200px; /* 幅を200pxに設定 */
  height: 50px; /* 高さを50pxに設定 */
  font-size: 18px; /* フォントサイズを18pxに設定 */
  padding: 10px 20px; /* 上下に10px、左右に20pxの余白を設定 */
}


